*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-tls-dtls13.md
draft-ietf-tls-rfc9147bis.xml
draft-rescorla-tls-dtls13.md
issues.json
lib
package-lock.json
report.xml
venv/
!requirements.txt
